p, ul, #fig {
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10%;
  margin-left: 10%;
}

#fig {
  width: 600px;
  height: 400px;
  border: 1px solid black;
}

code {
  background-color: lightskyblue;
  border-radius: 5px;
  padding: .1em .4em;
}

code.tracker {
  background-color: lightsalmon;
}
